
.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 0.2s ease;
    z-index: 1;

    .modal {
        display: flex;
        flex-direction: column;
        flex: 0 0 35%;
        background-color: #fff;
        border-radius: 3px;
        border: 1px solid #696969;
        z-index: 2;
        .close-button {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            width: 24px;
            top: -10px;
            right: -10px;
            background-color: #f8f8f8;
            border: 1px solid gray;
            padding: 2px;
        }
        .modal-content {
            height: 370px;
            overflow: auto;
            padding: 40px 30px;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            position: relative;
            label {
                width: 100%;
                text-align: start;
            }
            input {
                width: -webkit-fill-available;
                padding: 7px;
                border-color: 1px solid gray;
                border-radius: 5px;
                border: 1px solid rgba(0, 0, 0, 0.2);
                font-size: inherit;
                font-family: inherit;
            }
            textarea{
                width: -webkit-fill-available;
                padding: 7px;
                border-color: 1px solid gray;
                flex: 0 0 100px;
                border-radius: 5px;
                border: 1px solid rgba(0, 0, 0, 0.2);
                font-size: inherit;
                font-family: inherit;
            }

            .submit {
                border-radius: 5px;
                padding-left: 15px;
                padding-right: 15px;
                font-size: 16px;
                font-family: inherit;
                border: 0;
                background-color: #a77d5c;
                color: white;
                padding: 5px 20px;
            }
        }
        .close{
            display: flex;
            position: absolute;
            top: 10px;
            right: 9px;
            padding: 5px;
            border: none;
            background: unset;
            font-weight: 500;
            color: #a77950;
            font-size: 20px;
            &:hover {
                font-weight: bold;
               
            }
        }
    }
}
